@font-face {
  font-family: Neuthing;
  src: url('../fonts/NeuethingSans-Meduim.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neuthing;
  src: url('../fonts/NeuethingSans-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neuthing;
  src: url('../fonts/NeuethingSans-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: JB Mono;
  src: url('../fonts/JetBrainsMono-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --neuthing: Neuthing, sans-serif;
  --dark: #010101;
  --h1: 2.375rem;
  --h2: 2.125rem;
  --h3: 2rem;
  --charcoal: #323232;
  --h5: 1.5rem;
  --h6: 1.25rem;
  --para: 1rem;
  --pearl-white: #fdfdfd;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

h1 {
  font-family: var(--neuthing);
  color: var(--dark);
  font-size: var(--h1);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 120%;
}

h2 {
  font-family: var(--neuthing);
  font-size: var(--h2);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-family: var(--neuthing);
  color: var(--dark);
  font-size: var(--h3);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 120%;
}

h5 {
  font-family: var(--neuthing);
  color: var(--charcoal);
  font-size: var(--h5);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 120%;
}

h6 {
  font-family: var(--neuthing);
  color: var(--dark);
  font-size: var(--h6);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 120%;
}

p {
  font-family: var(--neuthing);
  color: var(--charcoal);
  font-size: var(--para);
  margin-bottom: 10px;
  line-height: 138%;
}

a {
  font-family: var(--neuthing);
  color: var(--charcoal);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.container-xl {
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-nav {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.4rem;
  padding-bottom: 5.3125rem;
  display: grid;
}

.hero-nav_wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  display: flex;
  position: relative;
}

.work-wrapper {
  margin-top: 4rem;
}

.work-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.info-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2.4rem;
  margin-bottom: 1.4rem;
  display: grid;
}

.work-list {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  margin-top: 4rem;
  display: flex;
}

.hero-images-track {
  margin-top: 6.875rem;
}

.heading {
  font-size: var(--h3);
}

.services-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.service-points {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
}

.services-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.services-list {
  grid-column-gap: 2.4rem;
  grid-row-gap: 2.4rem;
  flex-flow: column;
  margin-top: 4rem;
  display: flex;
}

.services-section {
  margin-top: 4rem;
}

.work-heading-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.about-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.archive-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.archive-list {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 4rem;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
}

.footer-link {
  font-weight: 400;
}

.footer-caption {
  font-family: var(--neuthing);
  font-size: 16px;
  font-weight: 400;
}

.bold-text {
  font-weight: 400;
}

.footer-link_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.gal-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.spacer-sm {
  height: 1.5rem;
}

.about-image {
  filter: grayscale(98%);
}

.menu-icon {
  display: none;
}

.paragraph, .paragraph-2 {
  font-weight: 400;
}

.timezone-clock {
  font-family: JB Mono, Arial, sans-serif;
  font-size: 1rem;
}

.timezone-label {
  color: #8b8b8b;
}

.footer-para {
  font-size: 1.6rem;
}

.footer-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: grid;
}

.section-footer {
  background-color: #eaeaea;
  margin-top: 8rem;
}

.footer-left {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-right {
  grid-column-gap: 2.8rem;
  grid-row-gap: 2.8rem;
  flex-flow: column;
  display: flex;
}

.footer-right-btm {
  justify-content: space-between;
  align-items: flex-start;
}

.case-list {
  padding-left: 0;
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .hero-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    position: relative;
  }

  .hero-nav_wrapper {
    z-index: 1;
    background-color: var(--pearl-white);
    border-top: 1px solid #000;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    margin-top: 79px;
    padding-top: 1.4rem;
    display: none;
    position: absolute;
    inset: 0% 0% auto;
  }

  .work-header {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    display: flex;
  }

  .info-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .services-header {
    flex-flow: column;
    display: flex;
  }

  .services-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    display: flex;
  }

  .about-header, .archive-header {
    display: flex;
  }

  .gal-grid {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    display: flex;
  }

  .menu-icon {
    width: 24px;
    display: block;
  }

  .hero-nav_link {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu {
    width: 48px;
  }

  .image {
    cursor: pointer;
  }

  .footer-wrap {
    flex-flow: column;
    display: flex;
  }

  .footer-left {
    flex-flow: row;
  }
}

@media screen and (max-width: 767px) {
  .work-heading-wrapper {
    display: flex;
  }

  .spacer-sm {
    height: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .service-points, .about-header {
    flex-flow: column;
  }

  .archive-header {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
  }

  .footer-wrapper {
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .bold-text {
    opacity: .33;
  }

  .footer-link_wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-wrap {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-bottom: 4rem;
  }

  .section-footer {
    margin-top: 6rem;
  }

  .footer-right {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .footer-right-btm {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
  }
}

#w-node-_2f2e4ee8-e7b3-4636-6c56-4e1231f9f062-7ddee6c1 {
  grid-area: 2 / 1 / 2 / 4;
}

#w-node-_48404dca-be10-3121-0aad-cc08d4002165-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-da7d82ab-fd40-6102-56f3-ef0c557accc8-7ddee6c1 {
  grid-area: 2 / 7 / 3 / 12;
}

#w-node-_8bf7db0c-2ef2-492a-9acd-56324c27f409-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_8bf7db0c-2ef2-492a-9acd-56324c27f40b-7ddee6c1 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-ec044e3c-08ad-e7fd-db95-3ab196658caf-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_440fc18c-bde4-7b38-9bec-f9672b62b476-7ddee6c1 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_5c6bd6a9-9254-a5e7-76cf-e568bf03e821-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_5c6bd6a9-9254-a5e7-76cf-e568bf03e823-7ddee6c1 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_351ce30d-981d-6b30-3955-4d2c2784e75d-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 6;
}

#w-node-f42db266-9020-5ee9-735c-3b35effa825c-7ddee6c1, #w-node-d126a129-ec25-e68d-233e-07fb4b04b69b-7ddee6c1 {
  grid-area: 1 / 6 / 2 / 13;
}

#w-node-a2ed0ba7-4f63-ce02-1e56-86f8fda9343a-fda93437 {
  grid-area: 1 / 1 / 2 / 4;
}

#w-node-a2ed0ba7-4f63-ce02-1e56-86f8fda93440-fda93437 {
  grid-area: 1 / 6 / 2 / 13;
}

#w-node-f9aafd29-6886-6538-4c9f-efb2ff38b900-ff38b8ff {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-f9aafd29-6886-6538-4c9f-efb2ff38b902-ff38b8ff {
  grid-area: 1 / 7 / 2 / 13;
}

#w-node-bd25b34f-0b84-342b-c14c-e36f8922677f-28d7a7fd {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_618b2ee3-984a-34ff-5750-d8be68f600e9-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_618b2ee3-984a-34ff-5750-d8be68f600eb-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-c39ac59e-cd4e-6a93-f049-3c3dd9d9144e-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-c39ac59e-cd4e-6a93-f049-3c3dd9d91450-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-d065f733-0874-132a-f8fb-07722e9fc869-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-d065f733-0874-132a-f8fb-07722e9fc86b-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_321a0a83-292d-c7c3-62ce-9ab20a849be7-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_321a0a83-292d-c7c3-62ce-9ab20a849be9-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_26d60236-9506-7295-7942-4177d0286ad1-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_26d60236-9506-7295-7942-4177d0286ace-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-b8adb014-df28-a8b9-4a97-b61e67343014-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-b8adb014-df28-a8b9-4a97-b61e67343011-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_5e1104bf-dee0-bc84-1424-19026a73d9a1-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_5e1104bf-dee0-bc84-1424-19026a73d99e-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-a48bf68a-b2da-7d66-430e-2ad307c942ac-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-a48bf68a-b2da-7d66-430e-2ad307c942ae-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_96e0a0bd-2110-a73d-620f-64a0b4f77960-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_96e0a0bd-2110-a73d-620f-64a0b4f77962-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_3a9f44a6-b08d-0979-2e0c-c1bb2bf718bb-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_3a9f44a6-b08d-0979-2e0c-c1bb2bf718bd-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-c70b1542-610f-482b-0f14-6de73139c8db-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-c70b1542-610f-482b-0f14-6de73139c8dd-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_9eb43d11-7a1f-6447-6d6a-831105fbe454-52913b46 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-d399fa51-e41d-b1e3-6157-6006fc362db3-52913b46 {
  grid-area: 1 / 7 / 3 / 11;
}

#w-node-fdfd9b62-69e4-2fb4-a500-4a40450e4941-52913b46 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-fdfd9b62-69e4-2fb4-a500-4a40450e4943-52913b46 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_11c9c34c-a245-6cfc-9c9f-175534bd3dfb-52913b46 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_11c9c34c-a245-6cfc-9c9f-175534bd3dfd-52913b46 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_6cfd07b0-46e7-0057-be31-839aaa5b1fae-52913b46 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_6cfd07b0-46e7-0057-be31-839aaa5b1fb0-52913b46 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-b64b7dc3-3a9a-e596-91d6-6e91ad7e8710-31596c53 {
  grid-area: 1 / 1 / 2 / 6;
}

#w-node-dd165a0c-beff-7b0e-c26e-63aa69740e99-31596c53 {
  grid-area: 1 / 7 / 2 / 11;
}

#w-node-bd25b34f-0b84-342b-c14c-e36f8922677f-8c8b2673 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_5df7071f-d7de-e650-cac2-abb176095661-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_36ce97e7-3349-e5a5-b263-6305bfbb4d48-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-d8e3e8b3-35ba-ff9c-d7dd-7d9e8b7824a5-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-d8e3e8b3-35ba-ff9c-d7dd-7d9e8b7824a7-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_6fd5eaca-603e-869f-f473-3eb5ba836a09-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_6fd5eaca-603e-869f-f473-3eb5ba836a0b-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-ccd94f8c-31fc-540d-a981-82b9464d4add-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-ccd94f8c-31fc-540d-a981-82b9464d4adf-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_63923b7d-25b2-2bf9-1b71-1f1efdacd18e-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_63923b7d-25b2-2bf9-1b71-1f1efdacd190-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_3386cb95-b0eb-df7c-1ab6-3141890301f6-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_3386cb95-b0eb-df7c-1ab6-3141890301f8-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-a08c1142-2356-e049-aa85-611a510f4c46-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-a08c1142-2356-e049-aa85-611a510f4c48-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

@media screen and (max-width: 991px) {
  #w-node-f9aafd29-6886-6538-4c9f-efb2ff38b900-ff38b8ff {
    grid-column-end: 3;
  }
}


@font-face {
  font-family: 'Neuthing';
  src: url('../fonts/NeuethingSans-Meduim.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuthing';
  src: url('../fonts/NeuethingSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuthing';
  src: url('../fonts/NeuethingSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JB Mono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}