@font-face {
  font-family: Neuthing;
  src: url('../fonts/NeuethingSans-Meduim.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neuthing;
  src: url('../fonts/NeuethingSans-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Neuthing;
  src: url('../fonts/NeuethingSans-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: JB Mono;
  src: url('../fonts/JetBrainsMono-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --neuthing: Neuthing, sans-serif;
  --dark: #010101;
  --h1: clamp(2rem, 3.5vw + 1rem, 3rem);
  --h2: clamp(1.625rem, 2.5vw + .8rem, 2.5rem);
  --h3: clamp(1.375rem, 2vw + .6rem, 2.063rem);
  --charcoal: #323232;
  --h5: clamp(1.063rem, 1vw + .4rem, 1.5rem);
  --h6: clamp(.938rem, .8vw + .3rem, 1.25rem);
  --para: clamp(.938rem, .5vw + .2rem, 1rem);
  --pearl-white: #fdfdfd;
  --base: #f6f6f6;
  --h4: clamp(1.188rem, 1.5vw + .5rem, 1.75rem);
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: var(--neuthing);
  color: var(--dark);
  font-size: var(--h1);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 120%;
}

h2 {
  font-family: var(--neuthing);
  font-size: var(--h2);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 120%;
}

h3 {
  font-family: var(--neuthing);
  color: var(--dark);
  font-size: var(--h3);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 120%;
}

h4 {
  font-family: var(--neuthing);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

h5 {
  font-family: var(--neuthing);
  color: var(--charcoal);
  font-size: var(--h5);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 120%;
}

h6 {
  font-family: var(--neuthing);
  color: var(--dark);
  font-size: var(--h6);
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 120%;
}

p {
  font-family: var(--neuthing);
  color: var(--charcoal);
  font-size: var(--para);
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 138%;
}

a {
  font-family: var(--neuthing);
  color: var(--charcoal);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.container-xl {
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-nav {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.4rem;
  padding-bottom: 5.3125rem;
  display: grid;
}

.hero-nav_wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.work-wrapper {
  margin-top: 4rem;
}

.work-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.info-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2.4rem;
  margin-bottom: 1.4rem;
  display: grid;
}

.work-thumb {
  border: 2px solid #fff;
  border-radius: 8px;
  overflow: hidden;
}

.work-list {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  margin-top: 4rem;
  display: flex;
}

.hero-images-track {
  margin-top: 6.875rem;
}

.services-wrapper {
  grid-column-gap: 73px;
  grid-row-gap: 73px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.services-list {
  grid-column-gap: 2.4rem;
  grid-row-gap: 2.4rem;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  display: grid;
}

.services-section {
  margin-top: 4rem;
  padding-bottom: 8rem;
}

.work-heading-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.about-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.archive-header {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.archive-list {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
}

.footer-link {
  color: var(--pearl-white);
  font-weight: 400;
}

.footer-caption {
  font-family: var(--neuthing);
  font-size: 16px;
  font-weight: 400;
}

.bold-text {
  font-weight: 400;
}

.footer-link_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
}

.footer-link_wrapper.footer-link-right {
  justify-content: flex-start;
  align-items: flex-end;
}

.gal-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-wrapper {
  border-radius: 8px;
  overflow: hidden;
}

.spacer-sm {
  height: 1.5rem;
}

.about-image {
  filter: grayscale(98%);
}

.menu-icon {
  display: none;
}

.paragraph, .paragraph-2 {
  font-weight: 400;
}

.timezone-clock {
  font-family: JB Mono, Arial, sans-serif;
  font-size: 1rem;
}

.footer-para {
  font-size: 1.6rem;
}

.footer-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 4rem;
  padding-bottom: 6rem;
  display: grid;
}

.section-footer {
  background-color: #eaeaea;
  margin-top: 8rem;
}

.footer-left {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer-right {
  grid-column-gap: 2.8rem;
  grid-row-gap: 2.8rem;
  flex-flow: column;
  display: flex;
}

.footer-right-btm {
  justify-content: space-between;
  align-items: flex-start;
}

.case-list {
  padding-left: 0;
}

.hero-meta {
  font-family: JB Mono, Arial, sans-serif;
}

.hero-meta-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  font-family: JB Mono, Arial, sans-serif;
  display: flex;
}

.body {
  background-color: var(--base);
}

.feedback-warpper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
}

.feedback-item {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--pearl-white);
  font-family: var(--neuthing);
  border-radius: 8px;
  flex-flow: column;
  padding: 28px;
  display: flex;
}

.feedback-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.process-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.process-card {
  background-color: var(--dark);
  border-radius: 8px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.process-image-wrapper {
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
}

.process-card-label, .process-card-description {
  color: var(--pearl-white);
}

.cta-cal {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 2.4rem;
  display: grid;
}

.cta-wrapper {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.delight-sec {
  font-family: var(--neuthing);
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-weight: 500;
  display: flex;
}

.delight-quote {
  text-align: center;
  font-size: 4.25rem;
  line-height: 157%;
}

.hero-sec {
  padding-bottom: 96px;
}

.service-card {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--pearl-white);
  border-radius: 8px;
  flex-flow: column;
  padding: 16px;
  display: flex;
}

.service-card.service-card-2 {
  margin-top: 68px;
}

.service-card.service-card-3 {
  margin-top: 174px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.footer-section {
  background-color: var(--dark);
}

.home-logo {
  display: block;
}

.footer-link-container {
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-start;
  display: flex;
}

.footer-meta {
  color: var(--pearl-white);
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-start;
  font-family: Neuthing, sans-serif;
  font-weight: 400;
  display: flex;
}

.footer-quote-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.quote-meta {
  color: var(--pearl-white);
  justify-content: space-between;
  align-items: flex-start;
  font-family: JB Mono, Arial, sans-serif;
  display: flex;
}

.footer-container {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  opacity: .94;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
}

.testimonial-section {
  background-color: var(--dark);
  padding-top: 6rem;
}

.swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  flex-flow: row;
  padding-bottom: 6rem;
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

.sw-quote-wrapper {
  width: 65%;
}

.sw-quote-label, .quote-text {
  color: var(--pearl-white);
}

.quote-label {
  font-family: var(--neuthing);
  color: var(--pearl-white);
  padding-bottom: 1.4rem;
}

.quote-author {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  font-family: var(--neuthing);
  color: var(--pearl-white);
  padding-top: 1rem;
  display: flex;
}

.author-avatar {
  border-radius: 8px;
  height: 48px;
}

.swiper-pagination {
  position: absolute;
  inset: auto auto 0% 0%;
}

.cta-right {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: column;
  display: flex;
}

.email-copy {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.copy-svg {
  padding: 8px;
}

.cal-embed {
  height: 100%;
}

.section {
  position: relative;
}

.feedback-author {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.chip {
  background-color: var(--pearl-white);
  border: 1px solid #00000024;
  border-radius: 8px;
  padding: 8px;
  font-family: Neuthing, sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
}

.chip-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .hero-nav {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    position: relative;
  }

  .hero-nav_wrapper {
    z-index: 1;
    background-color: var(--pearl-white);
    border-top: 1px solid #000;
    border-radius: 8px;
    flex-flow: column;
    height: 100vh;
    margin-top: 79px;
    padding-top: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;
    position: absolute;
    inset: 0%;
  }

  .work-header {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    display: flex;
  }

  .info-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .services-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    display: flex;
  }

  .services-list {
    flex-flow: column;
    display: flex;
  }

  .about-header, .archive-header {
    display: flex;
  }

  .gal-grid {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    display: flex;
  }

  .menu-icon {
    width: 24px;
    display: block;
  }

  .hero-nav_link {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image {
    cursor: pointer;
  }

  .footer-wrap {
    flex-flow: column;
    display: flex;
  }

  .footer-left {
    flex-flow: row;
  }

  .hero-meta-wrapper {
    flex-flow: row;
    width: 100%;
  }

  .feedback-warpper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .process-grid {
    flex-flow: column;
    display: flex;
  }

  .process-image-wrapper {
    display: none;
  }

  .cta-cal {
    flex-flow: column;
    display: flex;
  }

  .service-card.service-card-2, .service-card.service-card-3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .work-heading-wrapper {
    display: flex;
  }

  .spacer-sm {
    height: 1rem;
  }

  .feedback-warpper {
    display: block;
  }

  .sw-quote-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .container-xl {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-nav.container-xl {
    padding-right: 1rem;
  }

  .hero-nav_wrapper {
    inset: 0%;
  }

  .hero-images-track {
    margin-top: 1.275rem;
  }

  .services-list {
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .about-header {
    flex-flow: column;
  }

  .archive-header {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
  }

  .footer-wrapper {
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .bold-text {
    opacity: .33;
  }

  .footer-link_wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-wrap {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-bottom: 4rem;
  }

  .section-footer {
    margin-top: 6rem;
  }

  .footer-right {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .footer-right-btm {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
  }

  .delight-quote {
    font-size: 2.9rem;
  }

  .service-card.service-card-2, .service-card.service-card-3 {
    margin-top: 0;
  }

  .footer-meta {
    text-align: center;
    align-self: center;
    display: block;
  }

  .sw-quote-wrapper {
    width: 100%;
  }

  .div-block {
    padding-left: 1rem;
  }

  .div-block-2, .div-block-3 {
    padding-right: 1rem;
  }

  .chip-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }
}

#w-node-f8ed9346-81ab-c164-9df8-bf98a632b36c-7ddee6c1 {
  grid-area: 1 / 11 / 2 / 13;
}

#w-node-_716d8316-a375-0315-bbd3-5a9ecf53c834-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-da7d82ab-fd40-6102-56f3-ef0c557accc8-7ddee6c1 {
  grid-area: 2 / 7 / 3 / 12;
}

#w-node-_8bf7db0c-2ef2-492a-9acd-56324c27f409-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_8bf7db0c-2ef2-492a-9acd-56324c27f40b-7ddee6c1 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-ec044e3c-08ad-e7fd-db95-3ab196658caf-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_612d1726-fac5-46f9-d3c0-5956c1148e25-7ddee6c1 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_5c6bd6a9-9254-a5e7-76cf-e568bf03e821-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_6930578b-5646-5382-07de-9e344a47d976-7ddee6c1 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-c8c0263f-bc0a-3acf-4f4c-a3f9a682f58b-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_02562511-b3c8-0e12-6bce-035d598cece1-7ddee6c1 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_56e8ca04-dcbf-8a35-b51d-d252f5f7b6db-7ddee6c1 {
  grid-area: 1 / 6 / 2 / 13;
}

#w-node-_97671356-9cdd-aa93-7afb-abfd4b34d85b-7ddee6c1, #w-node-d6259be9-f7e8-8cbb-41ee-490eec431832-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_7f2cca28-b0fd-3a43-cb78-0c869092a37c-7ddee6c1 {
  grid-area: 1 / 5 / 2 / 9;
}

#w-node-_41334af8-f017-5bb6-2607-10500df7303f-7ddee6c1 {
  grid-area: 1 / 9 / -1 / -1;
}

#w-node-_8f9423a5-16c9-9baa-fccf-3d5bf9736e6e-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 6;
}

#w-node-_7d535ef6-ba18-a5d9-eaed-05d4be2f1c4e-7ddee6c1 {
  grid-area: 1 / 6 / 2 / 13;
}

#w-node-eed0138a-b680-7789-ddb3-28f13e1b6b0c-7ddee6c1 {
  grid-area: 2 / 1 / 2 / 8;
}

#w-node-_8ff3ca0d-bf8a-5a41-6876-40764777a3cc-7ddee6c1 {
  grid-area: 3 / 6 / -1 / 13;
}

#w-node-_65cea519-6b38-ed78-c3ab-63e1626b2549-7ddee6c1 {
  grid-area: 2 / 8 / 2 / 13;
}

#w-node-_4435245d-20a0-f334-5c07-e42705235c56-7ddee6c1 {
  grid-area: 3 / 1 / -1 / 6;
}

#w-node-_972be5d1-d8ae-ecf9-adca-7d29cea4c468-7ddee6c1 {
  grid-area: 1 / 1 / 2 / 8;
  align-self: stretch;
}

#w-node-_291f7949-cdad-8ec7-03aa-4794813ca279-7ddee6c1 {
  grid-area: 1 / 8 / 2 / 13;
}

#w-node-_3789e500-878d-dd38-9a56-226a9d6a09b4-ff38b8ff {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-f9aafd29-6886-6538-4c9f-efb2ff38b902-ff38b8ff {
  grid-area: 1 / 7 / 2 / 13;
}

#w-node-bd25b34f-0b84-342b-c14c-e36f8922677f-28d7a7fd {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_618b2ee3-984a-34ff-5750-d8be68f600e9-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_618b2ee3-984a-34ff-5750-d8be68f600eb-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-c39ac59e-cd4e-6a93-f049-3c3dd9d9144e-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-c39ac59e-cd4e-6a93-f049-3c3dd9d91450-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-d065f733-0874-132a-f8fb-07722e9fc869-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-d065f733-0874-132a-f8fb-07722e9fc86b-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_321a0a83-292d-c7c3-62ce-9ab20a849be7-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_321a0a83-292d-c7c3-62ce-9ab20a849be9-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_26d60236-9506-7295-7942-4177d0286ad1-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_26d60236-9506-7295-7942-4177d0286ace-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-b8adb014-df28-a8b9-4a97-b61e67343014-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-b8adb014-df28-a8b9-4a97-b61e67343011-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_5e1104bf-dee0-bc84-1424-19026a73d9a1-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_5e1104bf-dee0-bc84-1424-19026a73d99e-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-a48bf68a-b2da-7d66-430e-2ad307c942ac-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-a48bf68a-b2da-7d66-430e-2ad307c942ae-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_96e0a0bd-2110-a73d-620f-64a0b4f77960-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_96e0a0bd-2110-a73d-620f-64a0b4f77962-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_3a9f44a6-b08d-0979-2e0c-c1bb2bf718bb-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_3a9f44a6-b08d-0979-2e0c-c1bb2bf718bd-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-c70b1542-610f-482b-0f14-6de73139c8db-28d7a7fd {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-c70b1542-610f-482b-0f14-6de73139c8dd-28d7a7fd {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_9eb43d11-7a1f-6447-6d6a-831105fbe454-52913b46 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-d399fa51-e41d-b1e3-6157-6006fc362db3-52913b46 {
  grid-area: 1 / 7 / 3 / 11;
}

#w-node-fdfd9b62-69e4-2fb4-a500-4a40450e4941-52913b46 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-fdfd9b62-69e4-2fb4-a500-4a40450e4943-52913b46 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_11c9c34c-a245-6cfc-9c9f-175534bd3dfb-52913b46 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_11c9c34c-a245-6cfc-9c9f-175534bd3dfd-52913b46 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_6cfd07b0-46e7-0057-be31-839aaa5b1fae-52913b46 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_6cfd07b0-46e7-0057-be31-839aaa5b1fb0-52913b46 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-b64b7dc3-3a9a-e596-91d6-6e91ad7e8710-31596c53 {
  grid-area: 1 / 1 / 2 / 6;
}

#w-node-dd165a0c-beff-7b0e-c26e-63aa69740e99-31596c53 {
  grid-area: 1 / 7 / 2 / 11;
}

#w-node-bd25b34f-0b84-342b-c14c-e36f8922677f-8c8b2673 {
  grid-area: 1 / 1 / 2 / 7;
}

#w-node-_5df7071f-d7de-e650-cac2-abb176095661-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_36ce97e7-3349-e5a5-b263-6305bfbb4d48-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-d8e3e8b3-35ba-ff9c-d7dd-7d9e8b7824a5-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-d8e3e8b3-35ba-ff9c-d7dd-7d9e8b7824a7-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_6fd5eaca-603e-869f-f473-3eb5ba836a09-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_6fd5eaca-603e-869f-f473-3eb5ba836a0b-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-ccd94f8c-31fc-540d-a981-82b9464d4add-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-ccd94f8c-31fc-540d-a981-82b9464d4adf-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_63923b7d-25b2-2bf9-1b71-1f1efdacd18e-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_63923b7d-25b2-2bf9-1b71-1f1efdacd190-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-_3386cb95-b0eb-df7c-1ab6-3141890301f6-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-_3386cb95-b0eb-df7c-1ab6-3141890301f8-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

#w-node-a08c1142-2356-e049-aa85-611a510f4c46-8c8b2673 {
  grid-area: 1 / 1 / 2 / 5;
}

#w-node-a08c1142-2356-e049-aa85-611a510f4c48-8c8b2673 {
  grid-area: 1 / 7 / 2 / 12;
}

@media screen and (max-width: 991px) {
  #w-node-_3f1726fb-ba8b-7cfc-429a-c5433016054a-7ddee6c1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_56e8ca04-dcbf-8a35-b51d-d252f5f7b6db-7ddee6c1 {
    grid-column: 3 / 9;
  }
}


@font-face {
  font-family: 'Neuthing';
  src: url('../fonts/NeuethingSans-Meduim.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuthing';
  src: url('../fonts/NeuethingSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neuthing';
  src: url('../fonts/NeuethingSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JB Mono';
  src: url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}